@import '../../styles/variables/index.scss';

.button {
  @include h2-30;
  color: $white;
  background-color: $mainColor;
  padding: 14px 52px 18px;
  border-radius: 40px;
  transition: all 0.3s ease;

  &_width_full {
    width: 100%;
  }

  &:hover {
    background-color: $black;
  }

  &:active {
    background-color: $gray;
  }

  &:disabled {
    background-color: $mainColorDis;
  }

  @include sm {
    @include h2-22;
    padding: 18px 52px 22px;
  }
}
