@import '../../../../styles/variables/index.scss';

.track {
  width: 100%;
  height: 1px;
  border-radius: 50%;
  background-color: $mainColor;
}

:export {
  filled: $mainColor;
  empty: #e1e1e1;
}
