// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1440px;

@mixin sm {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}
