@import './styles/variables/index.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  max-width: $screen-xl-min;
  display: flex;
  flex-direction: column;
  gap: 32px;

  margin: 0 auto;
  padding: 0 48px;

  background-color: $white;

  @include md {
    padding: 0 36px;
  }

  @include sm {
    padding: 0 20px;
  }
}

.heading {
  max-width: 753px;
}

.inputsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -16px;
  row-gap: 32px;
  & > * {
    margin: 0 16px;
  }

  @include md {
    grid-template-columns: 1fr;
  }
}

.resultGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -16px;
  row-gap: 32px;
  & > * {
    margin: 0 16px;
  }

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  @include sm {
    grid-template-columns: 1fr;
  }
}
