@import './styles/variables/index.scss';
.container {
  max-width: $screen-xl-min;
  min-height: 200px;

  margin: 0 auto;
  padding: 0 48px;

  background-color: $white;

  @include md {
    padding: 0 36px;
  }

  @include sm {
    padding: 0 20px;
  }
}
